
#list {
  margin-top: 150px;
}

.listContent {

  padding: 1%;
  margin-top: 10px;
  border-top: 2px solid #3D3534;

}

h1 {
  margin: 0;
  padding: 2%;
  color: #3D3534;
  font-size: 1.5rem;
}

.button {
  background-color: #aeb6bf;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  color: #3D3534;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 10px 420px;
}

.style {
  width: 50%;
  float: left;

  img {
    width: 100%;
    height: auto;
  }

  h6 {
    padding-left: 3%;
    font-size: 1rem;
    color: #3D3534;
  }

  span {
    padding-left: 3%;
    font-size: 1rem;
    color: #3D3534;
    font-weight: bold;
  }


}
