


.listContent {

  background-color: #aeb6bf;
  padding: 1%;
  margin-top: 5px;

  h1 {
    margin: 0;
    padding: 2%;
    color: #3D3534;
    font-size: 1.5rem;
  }

  img {
    width: 150px;
    height: 225px;
    padding: 5%;
  }

  p {
    color: #3D3534;
  }

  div {
    margin-left: 35px;
    float: left;
  }
}

